* {
    /* outline: 1px solid #00f; */
}

.slick-track,
.slick-list {
    transition-delay: 0.03s;
}

.header h1 {
    font-size: 0;
    /* margin: auto; */
}

/* .header .inner img {
    height: 100%;
} */

.header .inner {
    display: flex;
    justify-content: space-between;
    width: 1200px;
    margin: 0 auto;
    line-height: 100px;
    background: #fefefe;
}

.header .gnb {
    margin: 0 100px;
    width: 100%;
}

.header .gnb>ul {
    display: flex;
    gap: 60px;

}

.header .gnb>ul>li {
    position: relative;

}

.header .gnb>ul>li a:hover {
    color: #000;
    font-weight: 500;
}

.header .gnb>ul>li~li::before {
    content: "";
    position: absolute;
    top: 50%;
    left: -20px;
    transform: translate(0, -40%);

    width: 1px;
    height: 12px;
    background: #999;
}

.header .gnb>ul>a {
    display: block;
}

.header .right {
    position: relative;
    margin: 0 0 0 auto;
}

.header .right input {
    width: 0 auto;
    border: 1px solid #bbb;
    border-radius: 8px;
    padding: 10px 12px;
    font-size: 14px;
}

.header .right .xi-search {
    position: absolute;
    top: 40%;
    left: 80%;
    transform: translate(0, 10%);
}

/* .header .right a {
    margin: 0 0 0 auto;
} */

.mainContent {
    padding: 100px 0;
    background: #ddd;
}

.mainContent .topBanner ul>li {
    display: inline-block;
}

.mainContent .inner {
    display: flex;
    gap: 30px;

    width: 1200px;
    margin: 0 auto;
    text-align: center;
}


















.footer {
    background: #383838;
    color: #f8f1fa;
    /* padding: 0 0 50px 0; */
}

.footer .top {
    line-height: 80px;
    border-bottom: 1px solid #555;
}

.footer .inner {
    display: flex;
    justify-content: space-between;
    width: 1200px;
    margin: 0 auto;
}

.footer .top .left {
    font-size: 0;
}

.footer .top .left li {
    display: inline-block;
    font-size: 15px;

}

.footer .top .left li~li::before {
    content: "";
    margin: 0 20px;
    display: inline-block;
    width: 1px;
    height: 11px;
    background: #ddd;
}

.footer .top .right {
    display: flex;
}

.footer .top .right i {
    font-size: 20px;
    padding: 10px;
    background-color: #333;
    border-radius: 50%;
}

.footer .bottom {
    line-height: 40px;

}

#f_link {
    border: none;
    outline: none;

    padding: 5px 20px;
    background: #383838;
    border: 1px solid #555;
}